@import "./variables.scss";

.no-action {
  margin: 24px 0;

  .no-action__button {
    color: $primary-blue;
    width: 259px;
    height: 53.1px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid $primary-blue;
    margin: 0;

    &:hover:enabled {
      color: $off-white;
      background: $primary-blue;
    }
  }
}
